.App {
  text-align: center;
}

.App-perfil {
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  border: rgb(224, 223, 223) 10px solid;
  box-shadow:0px 0px 0px rgb(63, 63, 63);
  transition: background-image 1s ease-in-out;
  background-image: url(../src/perfil.png);
  background-size: 40vmin;
}
.App-perfil:hover {
  background-image: url(../src/front-end.jpg);
}

.App-header {
  background: linear-gradient(37deg, rgba(40,103,161,1) 0%, rgba(0,128,128,1) 100%);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.App-links {
  padding: 10px;
  width: 32px;
}
